*{
    margin: 0;
    padding: 0;

}
body{
    background: rgb(255, 255, 255);
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.bd{
    display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: repeat(1,auto);
 grid-template-areas: "header header"
 
}
.header{
    width: 100%;
    height: 75px;
    background: rgb(26, 28, 56);
    z-index: 10;
    top: 0;
    left: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);
  grid-area: header;
}
.container{
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1200px;
    margin: auto;
}
.logo{
    float: left;
    line-height: 75px;
}
.logo h1{
    color:aliceblue;
    font-weight:400px;
    font-size:24px;
    cursor: default;
}
.menu{
   display:flex;
   flex-direction: row;
   padding-top: 20px;
   justify-content: flex-end;
   
}
.menu a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 15px;
    border-bottom: 4px solid transparent;
    transition: all 500ms ease;
}
.menu a:hover{
    background: rgb(92, 99, 197);
    transition: all 0.4s linear;
    border-radius: 10px 20px;
    border-bottom: 4px solid transparent;
    color: white;
   }
.jumbotron{
    background: rgb(34, 36, 73);
 display: grid;
 grid-template-columns: repeat(2,1fr);
 grid-template-rows: repeat(1,auto);
 grid-template-areas: "info info";
;
 gap: 20px;

  
}
.jumbotron .info{
  grid-column-start: 1;
  grid-column-end: 2;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content:center;
  grid-area: info;
}
.jumbotron .info {
    height: 500px;
    background:url(/imagenes/portada.jpg);
     background-size: cover;
     background-attachment: fixed;
}
/* .jumbotron .img{
   
    display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: img;
} */
.jumbotron h2{
    font-size: 50px;
    color:white;
}
.jumbotron p{
    font-size: 20px;
    color:rgb(238, 238, 238);
}
.blog{
    background: rgb(34, 36, 73);

    width: 100%;
    max-width: 100%;
    gap: 20px;
    padding-left: 70px;
    display:grid; 
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
                          "card1 card2 card3";
                            
}
.our{
    padding-top:20px;
     background: rgb(34, 36, 73); 
    color:white;
    font-size: 3rem;
     text-align: center;
}
.blog .card1,
.blog .card2,
.blog .card3{
    background:white;
    width: 330px;
    height: 530px;
    border-radius: 8px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.blog .card1 h4{
    font-size: 60px;
    color:rgb(34, 36, 73);
}
.blog .card2 h4{
    font-size: 60px;
    color:rgb(34, 36, 73);
}
.blog .card3 h4{
    font-size: 50px;
    color:rgb(34, 36, 73);
}
.blog .card1:hover,
.blog .card2:hover,
.blog .card3:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.blog p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.blog a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}
.blog .card1{
    grid-area: card1;
}
.blog .card2{
    grid-area: card2;
}
.blog .card3{
    grid-area: card3;
}
.blog img{
    height: 350px;
 background-size: cover;
 background-attachment: fixed;
}
.Adicional {
    width: 100%;
    max-width: 100%;
    gap: 20px;
    background: rgb(34, 36, 73);
    display:grid; 
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    grid-template-areas: 
                          "img text";
}
.Adicional .text {
    background: rgb(34, 36, 73);
    max-width: 100%;
    display: flex;
 padding-left: 70px;
 padding-right: 70px;
 padding-top: 80px;
  flex-direction: column;
 
}
.Adicional h3{
    color:rgb(238, 238, 238);
    font-size: 30px;
}
.Adicional h2{
    color: white;
    font-size: 50px;
}
.Adicional img{
 grid-area: img;
 height: 500px;
 background-size: cover;
 background-attachment: fixed;
}
.footer{
    background-color: rgb(26, 28, 56);
    display: grid;
    gap:20px;
    padding-left: 100px;
    padding-top: 20px;
 grid-template-columns: repeat(3,1fr);
 grid-template-rows: repeat(1,auto);
 grid-template-areas: "p1 p2 p3"
 
}

.footer .p1,
.footer .p2,
.footer .p3{
      display: flex;
  flex-direction: column;
 gap: 10px;
    color: rgb(194, 194, 194);
    
}
footer .title {
    font-size: 30px;
}
.footer li a {
    
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    text-decoration: none;
    
}
.footer .p1 {
    grid-area: p1;
}
.footer .p2 {
    grid-area: p2;
}
.footer .p3 {
    grid-area: p3;
}
@media screen and (max-width: 900px) {
      body {
        background:black;
    } 
    .bd{
    
     grid-template-rows: repeat(1,auto);
     grid-template-areas: "header header header"
                           "header header header"
    } 
    .blog{
        padding-top: 50px;
         padding-left: 150px;
        grid-template-areas: 
                              "card1  card1 card1"
                              "card2  card2 card2"
                              "card3  card3 card3" ;


                                
    }
    .Adicional {

     grid-template-areas: "text text"
                            "img img" ;
    }
    .footer{
    
     grid-template-areas: "p1 p1 p1"
                           "p2 p2 p2"
                           "p3 p3 p3";
     
    }
}